body
  background: rgb(55, 55, 55)
  color: white
  font: 16px "Courgette", "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #006eff
  text-decoration: none
  &:hover
    color: darken(@color, 20%)

div.mid
  text-align: center

h1
  color: rgb(83, 83, 83)
  text-shadow: 1px 1px 2px rgb(43, 43, 43)

h1#quote-text
  font-size: 3em
  color: white
