extends layout

block content
  div.header-center
    h1 Game of Thrones - Quote Generator
    a(class="new-quote-link", onclick="fetchQuote(); return false;", href="#") New quote
  div.mid
    h1#quote-text
  
